* {
    box-sizing: border-box;
}

:root {
    --width-container: 1170px;
    --primary-color: #2e80ce;
    --secondary: #10375c;
    --text-desc: #575f66;
    --text-header: #c9d2da;
    --text-link-footer: #a9b3bb;
    --font-footer: "Open Sans", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Sora, sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

/*  ======================== Common ========================  */

.line-number {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
}

.line-clamp-1 {
    --line-clamp: 1;
}

.line-clamp-3 {
    --line-clamp: 3;
}

a {
    text-decoration: none;
}

.container {
    width: var(--width-container);
    max-width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    text-align: center;
    min-width: 205px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 60px;
    padding: 0 20px;
    color: #fff;
    background: var(--primary-color);
    border-radius: 999px;
    cursor: pointer;
    border: none;
}

.row-center {
    display: flex;
    align-items: center;
}

.heading-lv2 {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    /* identical to box height, or 120% */
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--secondary);
}

.sub-heading {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: var(--text-desc);
}

.heading-lv2 + .sub-heading {
    margin-top: 18px;
}

/* ======================== End Common ======================== */

/* ======================== Header ======================== */

.header {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: var(--secondary);
}

.header .container {
    justify-content: space-between;
}

.header--fixed {
    position: sticky;
    top: -15px;
    left: 0;
    right: 0;
    z-index: 1;
}

/* ======================== Navbar ======================== */

.navbar__list {
    display: flex;
    align-items: center;
}

.authen__login,
.navbar__link {
    font-weight: 300;
    line-height: 1.75;
    color: var(--text-header);
    padding: 10px 21px;
}

.navbar__item.active .navbar__link {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
    display: flex;
    align-items: center;
    transition: all linear 0.3s;
}

.navbar__item.active .navbar__link::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background-color: #fff;
    margin-right: 8px;
}

.navbar__item:hover .navbar__link {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

/* ======================== Authen ======================== */

.authen .authen__signup {
    line-height: 44px;
    min-width: 104px;
    font-size: 1.4rem;
    margin-left: 7px;
}

/* ======================== Hero ======================== */

.hero {
    padding: 61px 0 110px;
    background-color: var(--secondary);
}

.hero__info {
    flex: 1;
    padding-right: 113px;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-header);
}

.hero__cta {
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero__media {
    width: 534px;
}

.hero__img:first-child {
    width: 330px;
    height: 540px;
    border-radius: 6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}

/* ======================== Services section ======================== */

.services {
    padding: 170px 0;
}

.services .row-center {
    margin-top: 70px;
}

.services__media {
    width: 48.7%;
    flex-shrink: 0;
}

.services__image {
    width: 570px;
    height: 570px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.services__content {
    flex: 1;
    padding-left: 130px;
}

.service-item {
    display: flex;
    align-items: flex-start;
    padding: 21px 18px 20px 22px;
    border-radius: 10px;
    transition: all linear 0.3s;
}

.service-item:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: #fff;
    background-color: var(--primary-color);
}

.service-item__icon {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    border-radius: 999px;
    color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.3s;
}

.service-item__content {
    padding: 0 19px;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--secondary);
}

.service-item__desc {
    margin-top: 8px;
    font-weight: 300;
    line-height: 1.75;
    color: var(--text-desc);
}

/* ======================== Procedure section ======================== */

.procedure {
    padding: 100px 0;
    background-color: #f6fbff;
}

.procedure .heading-lv2 {
    text-align: left;
}

.procedure .sub-heading {
    margin-left: 0;
    text-align: left;
}

.procedure .row-center {
    margin-top: 86px;
    gap: 30px;
}

.procedure-item {
    position: relative;
    bottom: 0;
    background-color: #eaf6ff;
    border-radius: 4px;
    transition: all linear 0.3s;
}

.procedure-item:hover {
    background-color: var(--primary-color);
    bottom: 16px;
}

.procedure-item:hover .procedure-item__link {
    color: var(--primary-color);
}

.procedure-item__content {
    margin: 16px;
    padding: 42px;
    background-color: #fff;
    border-radius: 4px;
    transition: all linear 0.3s;
}

.procedure-item__title {
    margin-top: 18px;
    font-weight: 600;
    font-size: 2.6rem;
    color: var(--secondary);
}

.procedure-item__desc {
    margin-top: 28px;
    font-weight: 300;
    line-height: 1.75;
    color: var(--text-desc);
}

.procedure-item__link {
    display: inline-block;
    margin-top: 18px;
    font-weight: 300;
    color: var(--primary-color);
    transition: all linear 0.3s;
}

/* ======================== About section ======================== */

.about-us {
    margin-top: 85px;
    padding: 85px 0;
}

.about-us__media {
    flex-shrink: 0;
    width: 48.7%;
    padding-bottom: 121px;
    position: relative;
}

.about-us__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
}

.about-us__img:last-child {
    width: 332px;
    height: 370px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.about-use__content {
    flex: 1;
    padding-left: 130px;
}

.about-use__content .heading-lv2 {
    text-align: left;
}

.about-use__content .sub-heading {
    text-align: left;
}

.about-use__content .btn {
    margin-top: 38px;
}

/* ======================== Member section ======================== */
.member {
    padding: 85px 0;
    margin-bottom: 85px;
}

.member__cta {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.member__list {
    --gap: 34px;
    --col: 4;

    margin-top: 70px;
    margin-bottom: 38px;
    margin-left: calc(-1 * var(--gap));
    overflow: hidden;
}

.member-item {
    margin-left: var(--gap);
    width: calc(100% / var(--col) - var(--gap));
    flex-shrink: 0;
}

.member-item:hover .member-item__img {
    transform: scale(1.1);
}

.member-item__bg {
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__img {
    margin-top: 28px;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    object-position: center;
    vertical-align: bottom;
    transition: 0.3s;
}

.member-item__name {
    margin-top: 12px;
    font-weight: 400;
    line-height: 1.75;
    text-align: center;
    color: var(--secondary);
}

.member-item__desc {
    display: block;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: var(--text-desc);
}

.member__controls {
    justify-content: center;
}

/* Control slide btn */
.controls-slide {
    display: flex;
}

.controls-slide__btn {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--text-desc);
    border: 1px solid currentColor;
    cursor: pointer;
    background-color: #fff;
}

.controls-slide__btn + .controls-slide__btn {
    margin-left: 18px;
}

.controls-slide__btn--active {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

/* ======================== App install ======================== */

.cta {
    margin: 180px 0 85px;
}

.cta__wrapper {
    background-color: var(--primary-color);
    padding: 75px 70px;
    position: relative;
}

.cta__media {
    flex-shrink: 0;
    width: 284px;
}

.cta__img {
    height: 522px;
    width: 284px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 70px;
    object-fit: cover;
}

.cta__content {
    flex: 1;
    padding-left: 160px;
}

.cta__content .sub-heading,
.cta__content .heading-lv2 {
    text-align: left;
    color: #fff;
    margin-left: 0;
}

.cta__content .sub-heading {
    width: 100%;
}

.cta__apps {
    margin-top: 36px;
}

.download-app {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
    border-radius: 5px;
    display: flex;
}

.download-app + .download-app {
    margin-left: 28px;
}

.download-app__icon {
    margin-right: 8px;
}

.download-app__content {
    text-align: left;
}

.download-app__label {
    display: block;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
}

.download-app__store {
    margin-top: 3px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
}

/* ======================== News ======================== */
.news {
    padding: 85px 0;
    margin-bottom: 85px;
}

.news__wrapper {
    gap: 130px;
}

.news__content {
    width: 40%;
    flex-shrink: 0;
}

.news__blog {
    flex: 1;
}

.news__content .heading-lv2 {
    text-align: left;
}

.news__read-all {
    display: inline-block;
    margin: 28px 0;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    color: var(--secondary);
}

.news__blog {
    --gap: 30px;
    --col: 2;
    margin-left: calc(-1 * var(--gap));
}

.blog {
    position: relative;
    width: calc(100% / var(--col) - var(--gap));
    flex-shrink: 0;
    margin-left: var(--gap);
    border: 1px solid #e8ebee;
    border-radius: 12px;
    background-color: #fff;
    transition: all linear 0.3s;
}

.blog:hover {
    border-color: #fff;
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
}

.blog:hover .blog__redirect {
    color: var(--primary-color);
}

.blog__img {
    margin: -1px;
    width: calc(100% + 2px);
    object-fit: cover;
    object-position: center;
    height: 172px;
    border-radius: 12px 12px 0px 0px;
}

.blog__body {
    padding: 18px 22px 21px;
}

.blog__title a {
    font-weight: 600;
    line-height: 1.62;
    color: var(--secondary);
}

.blog__desc {
    margin: 10px 0 12px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: var(--text-desc);
}

.blog__redirect {
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--secondary);
}

/* ======================== Appointment ======================== */

.appointment {
    margin-bottom: 170px;
    text-align: center;
}

.appointment .container {
    padding: 100px 178px;
    background-color: #f7fbff;
}

.appointment .heading-lv2 {
    width: 100%;
    margin-left: 0;
    position: relative;
    padding-bottom: 18px;
    text-align: center;
}

.appointment .heading-lv2::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 136px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
}

.appointment .sub-heading {
    width: 100%;
}

.appointment .btn {
    margin-top: 38px;
    display: inline-block;
}

/* ======================== Footer ======================== */
.footer {
    font-family: var(--font-footer);
    padding: 100px 0 42px;
    background-color: var(--secondary);
}

.footer__row {
    display: flex;
}

.footer__heading {
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.75;
    color: #ffffff;
}

.footer__form-input::placeholder,
.footer__link,
.footer__desc,
.footer__slogan {
    display: block;
    margin-top: 20px;
    font-weight: 400;
    line-height: 1.75;
    color: #a9b3bb;
}

.footer__desc,
.footer__link {
    font-size: 1.4rem;
}

.footer__link:hover {
    color: #fff;
}

.footer__desc {
    max-width: 273px;
}

.footer__section + .footer__section {
    margin-top: 28px;
}

.footer__col:first-child {
    width: 35%;
}

.footer__col:first-child .footer__slogan {
    max-width: 336px;
}

.footer__col:nth-child(2) .footer__link,
.footer__col:nth-child(3) .footer__link {
    margin-top: 10px;
}

.footer__col:nth-child(2) .footer__section:last-child .footer__link {
    margin-top: 14px;
}

.footer__col:nth-child(2),
.footer__col:nth-child(3) {
    width: 18%;
}

.footer__col:nth-child(4) {
    width: 29%;
}

.footer__socials {
    display: flex;
    align-items: center;
}

.footer__socials-link {
    background-color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__socials-link:first-child {
    background-color: var(--primary-color);
}

.footer__socials-link + .footer__socials-link {
    margin-left: 10px;
}

.footer__form {
    margin-top: 10px;
}

.footer__form-group {
    display: flex;
    align-items: center;
}

.footer__form-input {
    flex: 1;
    height: 46px;
    border: 1px solid #406181;
    border-radius: 4px;
    padding: 10px;
    background-color: transparent;
}

.footer__form-input:focus {
    outline: none;
}

.footer__form-input:placeholder-shown {
    text-overflow: ellipsis;
}

.footer__form-input {
    color: #fff;
}

.footer__form-submit {
    font-family: var(--font-footer);
    margin-left: 12px;
    min-width: 108px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #fff;
    padding: 15px 20px;
    background: var(--primary-color);
    border-radius: 4px;
    border: none;
    display: block;
    cursor: pointer;
}

.footer__copyright {
    margin-top: 28px;
    text-align: center;
    border-top: 1px solid #406181;
    padding-top: 28px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #aab3ba;
}
